<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".SesameApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/module_description"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">

        <activity
            android:name=".ui.neo.NeoMainActivity"
            android:exported="true"
            android:resizeableActivity="true"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.neo.NeoAIChatActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity
            android:name=".ui.neo.NeoGroupFieldsActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity
            android:name=".ui.neo.NeoSelectionEditActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity
            android:name=".ui.neo.NeoAccountActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity
            android:name=".ui.neo.NeoAboutActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity
            android:name=".ui.neo.NeoSystemActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity
            android:name=".ui.neo.NeoServiceActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity
            android:name=".ui.neo.NeoFriendStatsActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity
            android:name=".ui.neo.NeoFriendManageActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity
            android:name=".ui.neo.NeoExtensionsActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity
            android:name=".ui.neo.NeoMockRequestActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity-alias
            android:name=".ui.MainActivityAlias"
            android:enabled="true"
            android:exported="true"
            android:targetActivity="com.surexu.sesame.ui.neo.NeoMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>